string format 

python used C-style formatting to create new, formatting string. the "%" operator is used to format a set of variables enclosed
in a "Tuple" (A fixed size list), together with a format string. which contains normal text together with "argument specifiers" special symbols like "%S and %D"

In [6]:
# this prints out "hello , John"

name="john"
print("hello, %s!" %name)

hello, john!

In [20]:
# print the " john is 25 years old"
name="john"
age=25
print("%s is %d years old" %(name,age))

john is 25 years old

In [22]:
x="apple"
y="banana"
print("i have a %s and %s" %(x,y))

i have a apple and banana

In [23]:
a= "car"
b= "bike"
print("i am going to delhi by %s and %s" %(a,b))

i am going to delhi by car and bike

In [25]:
a= "car"
b= "bike"
c= 50
print("i am going to delhi by %s and %s for ride %d kms." %(a,b,c))

i am going to delhi by car and bike for ride 50 kms.

In [26]:
a= "car"
b= "bike"
c= 50
d="i am going to delhi by %s and %s for ride %d kms." %(a,b,c)

In [27]:
d

'i am going to delhi by car and bike for ride 50 kms.'

In [28]:
d.capitalize()

'I am going to delhi by car and bike for ride 50 kms.'

In [29]:
d.upper()

'I AM GOING TO DELHI BY CAR AND BIKE FOR RIDE 50 KMS.'

In [31]:
d.lower()

'i am going to delhi by car and bike for ride 50 kms.'

In [33]:
d.swapcase()

'I AM GOING TO DELHI BY CAR AND BIKE FOR RIDE 50 KMS.'

In [52]:
name="john"
age=25
print("%s is %d years old" %(name,age))

john is 25 years old

In [54]:
name="john"
age=20
print("{} is {} years old" .format(name,age))

john is 20 years old

In [44]:
print('{0} and {1}' .format('spam','egg'))


print('{1} and {0}' .format('spam','egg'))

spam and egg
egg and spam

#Function
1. inbuilt function (pre-defined)
2. user function
3. anonymous function (lambda function)

Build in functions
help(), print(), int(), float(),str(), type(), range(), max(), min(), len(), input(), list()

In [59]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> len
Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [61]:
k=[40,90,22,78,30,56]
min(k)

22

In [62]:
max(k)

90

# USER DEFINED FUNCTIONS

In [63]:
#function defination

In [64]:
def function1():
    print('Hello function1')

In [66]:
#function calling
function1()

Hello function1

In [67]:
def function2():
    print('how are you')

In [68]:
function2()

how are you

In [69]:
def function1995():
    print("your birth of year")

In [70]:
function1995()

your birth of year

In [71]:
def function2():
    print('Inside function2')

In [72]:
function2()

Inside function2

In [73]:
def addfunction():
    a=10
    b=20
    c=a+b
    print("Addition of a and b is",c)

In [74]:
addfunction()

Addition of a and b is 30

In [75]:
def addfunction():
    ankit=10
    devesh=20
    total=ankit+devesh
    print("Addition of ankit's classes and devesh classes is",total)

In [76]:
addfunction()

Addition of ankit's classes and devesh classes is 30

In [77]:
def multiplyfunction():
    x=5
    y=4
    z=x*y
    print("multiply of",x,'and',y,'=',z)

In [80]:
multiplyfunction()

multiply of 5 and 4 = 20

In [85]:
def multiplyfunction():
    delhi=50
    goa=400
    delhigoa=delhi*goa
    print("multiply of",delhi,'and',goa,'=',delhigoa)

In [89]:
multiplyfunction()

multiply of 50 and 400 = 20000

In [96]:
def concatfunction():
    str1='Data'
    str2='Science'
    str1+str2
    print('String concatnation =')
    print(str1+str2)

In [97]:
concatfunction()

String concatnation =
DataScience

In [100]:
def concatfunction():
    str1='Data'
    str2='Science'
    str1+str2
    print('String concatnation =',str1+str2)

In [103]:
concatfunction()

String concatnation = DataScience

In [101]:
def concatfunction():
    str1='Data'
    str2='Science'
    str1+str2
    print('String concatnation =',end=" ")
    print(str1+str2)

In [95]:
concatfunction()

String concatnation = DataScience

In [104]:
#function defination
def area_of_rectangle_function():
    a=70
    b=8
    c=a*b
    print('Area of rectangle =',c)

In [105]:
area_of_rectangle_function()

Area of rectangle = 560

In [112]:
#function defination 

def circle_area_function():
    radius=int(input("input the radius function"))
    pi=3.14
    area=(pi*(radius**2))
    print('The area of circle with radius',radius,'is',area)

In [113]:
#function calling

circle_area_function()

input the radius function10
The area of circle with radius 10 is 314.0

In [114]:
input('Enter the country name')

Enter the country nameindia

'india'

In [132]:
#function defination 
def area_of_Square():
    side=int(input("Enter the value of side"))
    area= side*side
    print('The area of square of side',side,'is',area)

In [133]:
#function calling

area_of_Square()

Enter the value of side12
The area of square of side 12 is 144

### Functions with parameters

In [134]:
def addition_function_with_parameters(a,b):
    c=a+b
    print('The value =',c)

addition_function_with_parameters(y,z)

In [141]:
addition_function_with_parameters(10,20)

The value = 30

In [142]:
def subtract_func(x,y):
    z=x-y
    print('The value of z =',z)

In [144]:
subtract_func(300,130)

The value of z = 170

In [145]:
def addfunc(a,b,c):
    add=a+b+c
    print('addition',add)

In [146]:
addfunc(10,20,20)

addition 50

In [147]:
def runfunc():
    print('Inside function')
    for i in [1,2,4,8,16,32,64]:
        print(i)

In [148]:
runfunc()

Inside function
1
2
4
8
16
32
64

In [149]:
def outsidefunction():
    print('outside function')
    runfunc()

In [150]:
outsidefunction()

outside function
Inside function
1
2
4
8
16
32
64

In [151]:
def addition_function(a,b):
    c=a+b
    print('The value =',c)

In [153]:
x=int(input('Enter the value of x='))
y=int(input('Enter the value of y='))

#Function calling
addition_function(x,y)

Enter the value of x=12
Enter the value of y=13
The value = 25

In [166]:
def add():
    u=4
    p=5
    t=u+p
    print("add of",u,'and', p, 'is',t)

In [167]:
add()

add of 4 and 5 is 9

In [168]:
def addfun(a,b):
    c=a+b
    print('sum of a and b is',c)

In [170]:
addfun(100,200)

sum of a and b is 300